<% if session[:user_id] %>
<p><%= link_to "Logout", logout_path %></p>
<% else %>
<p><%= link_to "Login", login_path %> | <%= link_to "SignUp", signup_path %></p>
<% end %>

<div class="container-fluid">
<h1><%= @actor.name %></h1>

<div class="black-box">
  <h2>Movies</h2>
  <ul>
    <% @actor.movies.each do |role| %>
    <li>
      <%= link_to "#{role.title} (#{role.year})", movie_path(role) %>
      <%= button_to "X", remove_movie_path(@actor, role), :method => :delete %>
    </li>
    <% end %>
  </ul>
  <% unless @movies.empty? %>
    <%= form_tag add_movie_path do |f|%>
      <%= collection_select :movie, :id, @movies, :id, :title %>
      <%= submit_tag "Add" %>
    <% end %>
  <% end %>
</div>

<%= link_to "Edit", edit_actor_path(@actor) %>
<%= button_to "Delete", actor_path(@actor), :method => :delete %>
<br><br>

<%= link_to "Back to actors", actors_path %>

<div>
  <h3>Comment Section</h3>
<% flash.each do |key, notice|  %>
<p><%= notice %></p>
<% end %>
  <% @comments.reverse.each do |comment| %>
  <li><%= comment.comment_text %> <p>written <%= time_ago_in_words comment.created_at %> ago</li>
  <% end %>


<% if session[:user_id] %>
  <%= simple_form_for [@actor, Comment.new] do |f| %>
    <div class="form-group">
    <%= f.input :comment_text, label: false %>
    <%= f.button :submit, "Add Comment"  %></div>
    <% end %>
    <% else %>
    <p><%= link_to "Log in", login_path %> to add comment.</p>
    <% end %>
</div>
</div>