<% if session[:user_id] %>
<p><%= link_to "Logout", logout_path %></p>
<% else %>
<p><%= link_to "Login", login_path %> | <%= link_to "SignUp", signup_path %></p>
<% end %>

<div class="container-fluid">
<h1><%= @movie.title %></h1>

<p><%= @movie.year %></p>

<div class="black-box">
  <h2>Actors</h2>
  <ul>
    <% @movie.actors.each do |actor| %>
    <li>
      <%= link_to actor.name, actor %>
      <%= button_to "X", remove_actor_path(@movie, actor), :method => :delete %>
    </li>
    <% end %>
  </ul>
  <% unless @actors.empty? %>
    <%= form_tag add_actor_path(@movie) do %>
      <%= collection_select :actor, :id, @actors, :id, :name %>
      <%= submit_tag "Add" %>
    <% end %>
  <% end %>
</div>

<%= link_to "Edit", edit_movie_path(@movie) %>
<%= button_to "Delete", movie_path(@movie), :method => :delete %>
<br><br>

<%= link_to "Back to movies", movies_path %>

<div>
  <h3>Comment Section</h3>
<% flash.each do |key, notice|  %>
<p><%= notice %></p>
<% end %>
  <% @comments.reverse.each do |comment| %>
  <li>
  <%= comment.comment_text %>
  <p>Written <%= time_ago_in_words comment.created_at %> ago</p>
  </li>
  <% end %>
<% if session[:user_id] %>
  <%= simple_form_for [@movie, Comment.new] do |f| %>
    <%= f.input :comment_text, label: false %>
    <%= f.button :submit  %>
    <% end %>
    <% else %>
    <p><%= link_to "Log in", login_path %> to add comment.</p>
    <% end %>
</div>
</div>


